*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#222;
    --secondary-color:rgb(215, 219, 177);
}
body{
    background-color: var(--primary-color);
}
.logo{
    color:rgb(226, 144, 37);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.header{
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:0 1.2rem;
}
.layout p{
    padding:5px 9px;
    border-radius: 6px;
    color:black;
    background-color: lightgray;
}
.logout{
    padding:4px 8px;
    background-color: rgb(219, 130, 28);
    color:white;
    border-radius: 6px;
    border:none;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 1.2rem;
}
nav ul li a{
    text-decoration: none;
    color: rgb(219, 130, 28);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    position: relative;
}
nav ul li a::before{
    content: "";
    position: absolute;
    top:-10px;
    left:50%;
    height: 3px;
    width:0;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

nav ul li a:focus{
    background-color: var(--primary-color);
    opacity: 0.2px;
    border-radius: 20px;
}
nav ul li a:hover{
    color:#fff;
}
nav ul li a:focus::before{
    width: 0%;
}
.search-btn{
    display: flex;
}
.inputText{
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2rem 0 0 2rem;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 16px;
    background-color: var(--primary-color);
    box-shadow: inset 0 5px 10px var(--secondary-color);
}
.inputText::placeholder{
    color: white;
}
.search-btn button{
    background-color: #fff;
    box-shadow: inset 0 5px 10px #222;
    padding: 0.2rem 0.5rem;
    border-radius: 0 2rem 2rem 0;
    color: rgb(36, 29, 29);
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
}
.Search{
    align-self: center;

}
.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movie{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 250px;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.movie .poster{
    width: 100%;
    height: 250px;
}
.movie .poster:hover{
    transform: scale(1.1);
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-details .box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.movie-details .title{
    width: 160px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 14px;
}
.movie-details .overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.9;
    color: #000;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(101%);
}
.movie-details:hover .overview{
    transform: translateY(0%);
}
.rating{
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    right: 5px;
    bottom: 5px;
    color:#fff;
}
.release{
    font-size:0.8rem;
    position: absolute;
    left:2px;
    bottom:8px;
    background-color: #000;
    color:#fff;
    padding:2px 5px;
    border-radius: 6px;
}

@media (max-width:900px){
    .header{
        background-color: var(--primary-color);
        height: 180px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        padding-top: 10px;
    }
    .search-btn{
        width: 200px;
    
    }
    .layout p{
        display: none;
    }
    .logout{
        margin-bottom: 1.2rem;
        
    }
}
.notfound{
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width:500px){
    .header{
        
        padding-left: 3rem;
        margin-bottom:1rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }

    .nav ul{
        display: flex;
        flex-direction: column;
        
    }
    .inputText{
        width:10rem;
    
    }
    .search-btn{
        margin-right: 2.4rem;
    }
    .logout{
        margin-left: 0.4rem;
        
    }
    
}
@media screen and (max-width:410px){
    .header{
        height:rem;
        margin-bottom: 2rem;
    }
    .inputText{
        width:8rem;
        margin-left: 3rem;
      
    }
    .search-btn {
        margin-right: 2.4rem;
    }
    .inputText::placeholder{
        font-size: 0.7rem;
    }
}
