.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
}
.Profile >h3{
    color:#fff;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
}